QWidget {
    background-color: #4c6085;
}

QPushButton {
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  color: #fff;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  vertical-align: baseline;
  width: auto;
}

QPushButton:hover{
  background-color: #fb8332;
}

QComboBox {
    background-color: #fa6400;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
}

QComboBox:hover{
    background-color: #fb8332;
}
